@import "library/main";
#footerSection {
  background-color:$baseColor2;
  color:$baseColor3;
  padding-top:50px;
  padding-bottom:50px;
}
.footerDiv{
  padding-top:20px;
}
.footerSer a
{
  line-height:12px;
  text-decoration:none;
  color :$baseColor3;
}
.footerHead{
  margin-bottom : 20px;
}
hr
{
  background-color:$baseColor3;
}
.faIcon
{
  font-size:24px;
  margin-left:12px;
  margin-right:8px;
  margin-bottom:20px;
}
.paraTech
{
  text-align:justify;
}
.write1 {
  text-align:center;
  margin-top :50px;
}
.write2
{
  text-align:center;
  margin-bottom :30px;
  margin-top:15px;
}
.footerField
{
  justify-content:center;
  width:50%;
}
.footerSubmit
{
  color:$baseColor1;
  background-color:$baseColor3;
  border : 1px solid $baseColor3;
  font-weight:bold;
}
.footerSubmit:hover
{
  color:$baseColor3;
  background-color:$baseColor1;
}
.faIcon i:hover
{
  color:$baseColor1;
}
